@import './page-header';
@import './page-footer';
@import './_placeholders';

body,
html {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header-svg {
    display: none;
}

.footer-sector {
    display: flex;
}

.footer-sag {
    padding: 0px 70px 0px 0px;
}

.combo {
    display: flex;
    padding: 0px 93px 0px 0px;
}

.intro {
    background-image: url(../../images/шапка.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro-button {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: rgb(33, 150, 243);
    padding: 10px 32px;
}

.main-sector {
    padding: 0px 0px 200px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-heading {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 6%;
    text-transform: uppercase;
    padding: 200px 0px 0px 0px;
    width: 696px;
    height: 120px;
    text-align: center
}

.feature-title {
    @extend %feature-title;
    margin: 0;
    padding: 30px 0px 0px 0px;
}

.feature-description {
    @extend %feature-description;
    margin: 0;
    width: 270px;
}

.services-heading {
    color: rgb(33, 33, 33);
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 3%;
    text-align: center;
}

.service-text1 {
    position: absolute;
    right: 0px;
    top: 225px;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    margin: auto 0;
    text-align: center;
    box-sizing: border-box;
    padding: 27px 0px 0px 0px
}

.service-text2 {
    position: absolute;
    right: 0px;
    top: 225px;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    margin: auto 0;
    text-align: center;
    box-sizing: border-box;
    padding: 27px 0px 0px 0px
}

.service-text3 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    margin: auto 0;
    text-align: center;
    box-sizing: border-box;
    padding: 27px 0px 0px 0px
}

.services-images__item {
    position: relative;
}

.service-text1,
.service-text2,
.service-text3 {
    @extend %service-text;
}

.team-heading {
    color: rgb(33, 33, 33);
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 3%;
    text-align: center;
    margin: auto 0;
    padding: 94px 0px 50px 0px
}

.team-name {
    @extend %team-name;
    margin: auto 0;
    padding: 30px 0px 0px 0px
}

.team-role {
    @extend %team-role;
    margin: auto 0;
}

.team-contact {
    background: rgb(175, 177, 184);
}

.client-text {
    color: rgb(33, 33, 33);
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 3%;
    text-align: center;
    margin: auto 0;
    padding: 94px 0px 50px 0px;
}

.img-clients {
    fill: rgb(175, 177, 184);
}

.feature {
    display: flex;
    flex-direction: column;
}

.text-sector {
    display: flex;
    gap: 30px;
    padding: 94px 0px 94px 0px;
}

.feature-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-img1,
.text-img2,
.text-img3,
.text-img4 {
    @extend %box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service__img {
    width: 370px;
}

.services-images {
    display: flex;
    gap: 30px;
}

.photo-sector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-members {
    display: flex;
    flex-direction: column;
}

.team__member {
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background: rgb(255, 255, 255);
}

.team-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-members {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 32px 30px;
}

.team-contacts {
    fill: rgb(175, 177, 184);
}

.more-details:hover,
.more-details:focus {
    background-color: rgb(33, 150, 243);
}

.more-details:hover .team-contacts {
    fill: rgb(255, 255, 255);
}

.more-details {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    transition-property: background-color;
    transition-timing-function: linear;
    transition-duration: 250ms;
    cursor: pointer;
}

.team {
    background: rgb(245, 244, 250);
    padding: 0px 0px 94px 0px;
}

.clients-sector {
    display: flex;
    flex-direction: column;
}

.clients {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 94px 0px;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-property: fill;
    fill: rgb(175, 177, 184);
}

.client {
    box-sizing: border-box;
    border: 1px solid rgb(175, 177, 184);
    border-radius: 4px;
    padding: 16px 32px;
}

.client:hover {
    border: 1px solid rgb(33, 150, 243);
    box-sizing: border-box;
    border-radius: 4px;
}

.client:hover .img-clients {
    fill: rgb(33, 150, 243);
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-property: fill;
}

@media (max-width:1200px) {
    body {
        background-color: coral;
    }

    .header__navigation {
        display: flex;
        gap: 51px;
        padding: 0px 96px 0px 88px;
    }

    .container {
        width: 768px;
    }

    .header__contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header-content {
        justify-content: center;
        align-items: center;
    }

    .header-phone {
        width: 123px;
    }

    .header-email {
        width: 138px;
    }

    .main-sector {
        display: flex;
        width: 360px;
        height: 164px;
    }

    .intro-heading {
        margin: 0;
        padding: 118px 0px 0px 0px;
    }

    .text-sector {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .text-img1,
    .text-img2,
    .text-img3,
    .text-img4 {
        width: 354px;
        height: 120px;
    }

    .feature-box {
        display: flex;
        gap: 10px;
    }

    .services {
        display: none;
    }

    .main-members {
        display: flex;
        flex-wrap: wrap;
    }

    .team__member {
        width: 354px;
        height: 536px;
    }

    .clients {
        display: flex;
        flex-wrap: wrap;
    }

    .client {
        width: 226px;
        height: 92px;
        display: flex;
        justify-content: center;
    }

    .own-fot {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px 0px 0px 0px;
    }

    .footer-sector {
        display: flex;
        flex-direction: column;
    }

    .contact-footer {
        display: flex;
        align-items: center;
        padding: 65px 0px 0px 0px;
        justify-content: center;
    }

    .footer-contact-info {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .telegram {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .form-tele {
        display: flex;
        flex-direction: column;
    }

    .combo {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-share {
        padding: 0px;
    }
}

@media (max-width:768px) {
    .header__navigation {
        display: none;
    }

    body {
        background-color: aqua;
    }

    .header-svg {
        fill: black;
        display: block;
    }

    .container {
        width: 480px;
    }

    .header__contact-info {
        display: none;
    }

    .header-menu {
        display: flex;
        align-items: center;
    }

    .header-svg {
        padding: 0px 0px 0px 276px;
    }

    .intro-heading {
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 26px;
        font-weight: 900;
        line-height: 42px;
        letter-spacing: 6%;
        text-align: center;
        text-transform: uppercase;
        width: 360px;
    }

    .main-sector {
        display: flex;
        gap: 30px;
    }

    .text-sector {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        padding: 0px 0px 60px 0px;
    }

    .feature {
        display: flex;
    }

    .text-img1,
    .text-img2,
    .text-img3,
    .text-img4 {
        width: 100%;
        display: block;
        display: flex;
    }

    .feature-box {
        display: flex;
        align-items: center;
    }

    .feature-description {
        width: 450px;
    }

    .clients-sector {
        display: flex;
        width: 450px;
    }

    .client {
        display: flex;
        width: 210px;
        height: 92px;
    }

    .clients {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 0px 60px 0px;
    }

    .footer-sector {
        display: flex;
        margin: 0;
        align-items: center;
    }

    .footer-sag {
        padding: 0;
    }

    .combo {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .telegram {
        width: 450px;
        height: 156px;
    }

    .contact-footer {
        padding: 60px 0px 0px 0px;
    }

    .form-tele {
        display: flex;
        gap: 20px;
    }

    .footer-form {
        height: 50px;
    }

    .feature {
        width: 460px;
    }

    .intro {
        background-image: url(../../images/шапка.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .team__member {
        width: 450px;
        height: 622px;
    }
}

@media (max-width:320px) {
    .intro {
        background-image: url(../../images/шапка.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .container {
        width: 320px;
    }
    .header-svg {
        padding: 0px 0px 0px 140px;
    }
    .intro-heading {
        width: 100%;
    }
    .feature {
        width: 300px;
        display: flex;
    }
    .feature-description {
        width: 300px;
    }
    .text-sector {
        display: flex;
        flex-direction: column;
    }
    .text-img1 {
        width: 100%;
    }
    .telegram {
        width: 320px;
    }
    .footer-sector {
        display: flex;
    }
    .clients {
        display: flex;
    }
    .footer-input {
        padding: 15px 136px 15px 16px;
    }
    .team__member {
        width: 310px;
        height: 468px;
    }
    .team-members {
        display: flex;
        margin: 0;
    }
    .form-tele {
        width: 320px;
    }
    .features {
        padding: 5px 0px 0px 0px;
    }
}